@font-face {
    font-family: 'Avenir';
    src: url(../css/fonts/Avenir-Medium.ttf);
}
@font-face {
    font-family: 'Resphekt';
    src: url(../css/fonts/esphekt.ttf);
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../css/fonts/comfortaa.ttf);
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    width: 90%;
    float: right;
}
header div{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div h1{
    color: blueviolet;
    font-size: 70px;
    font-family: 'Avenir', serif;
    font-weight: 500;
}
header div nav{
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div nav a{
    margin-top: auto;
    margin-bottom: auto;
}


aside {
    background-color: #c3b4ff;
    position: fixed;
    float: left;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav > li{
    height: 100px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}
.nav > li > a {
    font-family: 'Comfortaa', serif;
    font-weight: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: auto;
}
.nav > li:hover {
    border-right: 5px solid blueviolet;
}


main{
    float:right;
    width: 90%;
    right: 0;
    left:0;
}
.pagename{
    height: 150px;
    background-image: url(../img/try1.jpg);
    background-size:cover;
    display: flex;
}
.pagename>h2{
    margin: auto;
    color: white;
    font-family: 'Resphekt', serif;
    font-weight: lighter;
    font-size: 90px;
}

.content-wrapper{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.artist{
    margin-bottom: 30px;
}
.artist>h2{
    color: #333333;
    font-size: 40px;
    font-family: 'Comfortaa', serif;
    font-weight: bold;
}
.artist>p{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333333;
    font-size: 16px;
    font-family: 'Comfortaa', serif;
    font-weight: 200;
    line-height: 1.3;
}
.artistimg{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-align: center;
    float: left;
}
.artistimg>p{
    margin-top: 20px;
    color: blueviolet;
    font-size: 16px;
    font-family:'Comfortaa';
}
.artistimg>img{
    border-radius: 10px;
}
.artist>ul{
    float: left;
    margin: auto;
    color: #333333;
    font-size: 18px;
    font-family: 'Comfortaa', serif;
    font-weight: 200;
    line-height: 1.5;
}
.artist>ul>li{
    margin-bottom: 15px;
}
.artist_button{
    color: #333333;
    width: 35%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius:10px;
    border:2px solid #333;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family:'Comfortaa';
    font-weight: bold;
    font-size: 16px;
}
.artist_button:hover {
    background-color: blueviolet;
    border:2px solid blueviolet;
    color: white;
    font-weight: lighter;
}


.textimg{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.textimg>p{
    margin-top: 20px;
    color: blueviolet;
    font-size: 16px;
    font-family: 'Comfortaa', serif;
}
.textimg img{
    border-radius: 10px;
}

.other-wrapper{
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 80px;
}
.other-wrapper h2{
    color: #333333;
    font-size: 30px;
    font-family: 'Comfortaa', serif;
    font-weight: bold;
    margin: auto;
    margin-left: 65px;

}
.other-wrapper>div{
    margin: auto;
    margin-top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.other-wrapper>div>div>p{
    width: 200px;
}
@media (max-width: 1024px) {
    .other-wrapper{
        height: fit-content;
    }
    .other-wrapper>div{
        flex-direction: column;
    }
}
.other-wrapper>div>div>p{
    width: 200px;
}
.form{
    width: 70%;
    height: 225px;
    background-image: url(../img/form.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    border-radius: 10px;
    margin:auto;
    margin-bottom: -100px;
    position: relative;
    z-index: 100;
}
.form>div{
    height: 70%;
    width: 50%;
    margin:auto;
    margin-right: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form>div h2{
    padding:10px;
    color: #333333;
    font-size: 30px;
    font-family: 'Comfortaa', serif;
    font-weight: bold;
}
.input{
    height: 35%;
    display: flex;
    justify-content: space-between;
}
.email{
    background-color: inherit;
    width: 70%;
    padding:10px;
    border-radius:10px;
    border:1px solid #333;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin:10px 10px;
    text-decoration-color: blueviolet;
    font-family:'Comfortaa';
}
.button{
    background-color: inherit;
    width: 30%;
    border-radius:10px;
    border:2px solid #333;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    margin:10px 10px;
    font-family:'Comfortaa';
    font-weight: bold;
}
.button:hover {
    background-color: blueviolet;
    border:2px solid blueviolet;
    color: white;
    font-weight: lighter;
}



footer {
    height: 420px;
    width: 90%;
    background-color: blueviolet;
    float: right;
    display: flex;

}
footer>div{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.helpful{
    height: 100px;
}
.top{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.top> a{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Avenir', serif;
    font-weight: 500;
}
.top> nav{
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle{
    margin-top: 40px;
    color: #ffffff;
    width: 50%;
    font-family: 'Comfortaa', serif;
    font-size: 16px;
}
.bottom{
    width: 100%;
    text-align: center;
    border-top: 2px solid #d4afff;
    margin-top:60px;
    padding-top: 20px;
    color: #d4afff;
    font-family: 'Comfortaa', serif;
    font-size: 14px;
}




