.artist{
    margin-bottom: 30px;
}
.artist>h2{
    color: #333333;
    font-size: 40px;
    font-family: 'Comfortaa', serif;
    font-weight: bold;
}
.artist>p{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #333333;
    font-size: 16px;
    font-family: 'Comfortaa', serif;
    font-weight: 200;
    line-height: 1.3;
}
.artistimg{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-align: center;
    float: left;
}
.artistimg>p{
    margin-top: 20px;
    color: blueviolet;
    font-size: 16px;
    font-family:'Comfortaa';
}
.artistimg>img{
    border-radius: 10px;
}
.artist>ul{
    float: left;
    margin: auto;
    color: #333333;
    font-size: 18px;
    font-family: 'Comfortaa', serif;
    font-weight: 200;
    line-height: 1.5;
}
.artist>ul>li{
    margin-bottom: 15px;
}
.artist_button{
    color: #333333;
    width: 35%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius:10px;
    border:2px solid #333;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family:'Comfortaa';
    font-weight: bold;
    font-size: 16px;
}
.artist_button:hover {
    background-color: blueviolet;
    border:2px solid blueviolet;
    color: white;
    font-weight: lighter;
}
@media (max-width: 1024px) {
    .artistimg{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 15px;
        float: none;
    }
    .artist_button{
        margin: auto;
        margin-top: 15px;
    }
    .artist{
        display: flex;
        flex-direction: column;
    }
}