<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/Artists.css">
</head>
<body>
<header>
    <div>
        <h1>impression</h1>
        <nav>
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
        </nav>
    </div>
</header>
<aside>
    <ul class="nav">
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="History.html">История</a>
        </li>
        <li>
            <a href="Artists.html">Художники</a>
        </li>
        <li>
            <a href="Paintings.html">Галерея</a>
        </li>
        <li>
            <a href="Order.html">Заказать репродукцию</a>
        </li>
        <li>
            <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
        </li>
        <li>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
        </li>
    </ul>
</aside>
<main>
    <div class="pagename">
        <h2>Художники</h2>
    </div>

    <div class="content-wrapper">
        <div class="artist">
            <h2>Эдуард Мане (1832-1883)</h2>
            <div class="artistimg">
                <img src="img/mane.jpg" height="500px">
                <p>Эдуард Мане. Автопортрет с палитрой (1879)</p>
            </div>
            <p>
            Скандал прилипает к шкуре Эдуарда Мане. Застенчивый, но амбициозный, он не стремился вызвать гнев споров.
            Он считается некоторыми неофициальным лидером импрессионизма , движения, к которому он, однако, не хотел присоединяться . Мане всегда дистанцировался с импрессионистами, сохраняя при этом очень хорошие отношения с ними, между вдохновением и защитой. Мане разделял с Дега глубокий интерес к академической оценке : он хотел изменить академизм, а не противостоять ему, как большинство импрессионистов. Это объясняет, почему его предметы так отличаются от большинства других членов группы, а также объясняет, почему он не участвовал ни в одной совместной выставке , хотя он ценил своих товарищей по художественной революции.
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> Поддерживается семейным состоянием, коллекционером и покровителем.</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> жанровая картина, жанровый портрет, уличная сцена, натюрморт .</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Эдгар Дега, Клод Моне, Огюст Ренуар, Фредерик Базиль, Берта Моризо (его невестка), Ева Гонсалес (его ученица), Мари Бракемон, Гюстав Кайботт, Анри Фантен-Латур, Эмиль Зола, Шарль Бодлер.</p>
                </li>
                <li>
                    <p><b>Место паломничества :</b> Музей Орсе (Париж), Национальная художественная галерея (Вашингтон), Художественный институт Чикаго, Музей Метрополитен (Нью-Йорк).</p>
                </li>
                <li>
                    <p><b>Цитата :</b> «Кто сказал, что рисунок - это письменная форма?» Истина в том, что искусство должно быть писанием жизни. ".</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##mane" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Клод Моне (1840-1926)</h2>
            <div class="artistimg">
                <img src="img/mone.jpg" height="500px">
                <p>Огюст Ренуар. Портрет Клода Моне (1875)</p>
            </div>
            <p> Клод Моне является суперзвездой импрессионизма. Почему ? Конечно, потому что он был самым продуктивным , самым общительным (он знал всех) , самым вдохновляющим и самым вдохновляющим . Его многогранная работа, несомненно, является наиболее представительной в этом движении. Это соответствует стандартам импрессионизма в том виде, в каком мы их видим сегодня: разрыв с академизмом, субъективное восприятие предмета, живопись под открытым небом, использование ярких цветов, разбавление форм и контуров ...
                Этот норманнский художник ставит галочки по всем пунктам, и именно благодаря одной из его самых популярных картин, « Впечатление», «Солей Леван» , импрессионизм называют импрессионизмом . Представленная на их первой совместной выставке в 1874 году, эта картина вдохновила известного искусствоведа, который использовал термин « впечатление », чтобы собрать под одним знаменем группу художников (и друзей), практикующих этот новый способ живописи.
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> бедный в начале своей карьеры, его поддерживали друзья (Базиль, Мане, Кайботт), несколько редких коллекционеров (Шарль Эфрусси, Виктор Шоке, Эрнест Ошеде ...) и арт-дилеры (Дюран-Рюэль, Отец Танги).</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> пейзажи , природные элементы (особенно кувшинки ), памятники, пейзажи, портреты.</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Огюст Ренуар (с которым он регулярно рисовал на берегу Сены), Фредерик Базиль (который помог ему финансово и одолжил ему свою студию), Камиль Писсарро (с которым он укрылся в Лондоне, чтобы избежать разрушительных последствий войны. -Прусский), Альфред Сислей (с которым он регулярно обедает), Эжен Буден (его нормандский наставник), Гюстав Кайботт, Поль Сезанн, Дюран-Рюэль (доверявший ему купец), Эдуард Мане (чей революционный пыл очень вдохновлял ), Берта Моризо, Эмиль Золя ...</p></li>
                <li>
                    <p><b>Место паломничества :</b> Его (очень) цветочный дом в Живерни, в Нормандии ; Музей Орсе, Музей Мармоттан-Моне и Музей Оранжери, в котором представлены самые красивые вариации водяных лилий (Париж).</p>
                </li>
                <li>
                    <p><b>Цитата :</b> "Мотив - это нечто вторичное, я хочу воспроизвести то, что находится между мной и мотивом."</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##mone" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Огюст Ренуар (1841-1919)</h2>
            <div class="artistimg">
                <img src="img/renyar.jpg" height="500px">
                <p>Фредерик Базиль. Портрет Огюста Ренуара (1867)</p>
            </div>
            <p> Огюст Ренуар , наряду с Моне, Базилем и Сислей, является одним из отцов-основателей импрессионизма. Он встретил своих товарищей в мастерской требовательного Шарля Глейра, которого они оставят вместе, по обоюдному согласию, для экспериментов с живописью под открытым небом на берегу Сены или в лесу Фонтенбло. Под влиянием Моне, он узнал , что , чтобы сделать эффекты света, технику , которая сделает его всемирно известным, в частности , благодаря шедевру Le Bal дю Мулен де ла Галетт, произведенный в 1876 году и купил его друга и покровителя. , Гюстав Кайботт. За свою 60-летнюю карьеру он создал более 4000 работ (больше, чем работы Мане, Сезанна и Дега вместе взятых), всегда сохраняя свой оригинальный и блестящий стиль.</p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> происходил из относительно бедной семьи, в начале своей карьеры он жил в бедности. Когда ему было всего 13 лет, его талант дизайнера фарфора позволил ему удовлетворить свои потребности .</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> портреты, интерьеры, пейзажи, обнаженная натура, морские пейзажи, натюрморты и жанровые картины.</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Клод Моне, Эдуард Мане, Фредерик Базиль, Камиль Писсарро, Альфред Сислей, Эдгар Дега, Берта Моризо, Гюстав Кайботт, Поль Сезанн, Дюран-Рюэль, Амбруаз Воллар.</p></li>
                <li>
                    <p><b>Место паломничества :</b> музей Ренуара в Кань-сюр-Мер , музей Орсе, дом и мастерская Ренуара в Эссуа .</p>
                </li>
                <li>
                    <p><b>Цитата :</b> " Однажды утром у одного из нас закончилось черное. Он использовал синий цвет: родился импрессионизм. "</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##renyar" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Эдгар Дега (1834-1917)</h2>
            <div class="artistimg">
                <img src="img/dega.jpg" height="500px">
                <p>Эдгар Дега. Автопортрет (1855-1856)</p>
            </div>
            <p> Эдгар Дега - самая противоречивая фигура импрессионизма. Говорят, что он ненавидел цветы, животных, женщин, детей, а также евреев. Суровый, элитарный, антипатичный, женоненавистник ... Тем не менее, его ценили многие современники.
                Его противоречивый темперамент проявился и в его художественной практике: несмотря на свою приверженность импрессионизму , Дега свидетельствует об истинной классической воле . В отличие от Моне или Ренуара, его амбиции не в том, чтобы произвести революцию в мире искусства, а в том, чтобы как можно лучше интегрироваться в него. Он всегда будет отдавать предпочтение рисунку , а не цвету, и никогда не поддастся соблазну живописи под открытым небом, которую он яростно ненавидит. Он также был страстным и увлекательным коллекционером : от Делакруа до Энгра , включая Мане , Гогена , Сезанна и нескольких Ван Гогов , он явно был человеком вкуса.
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> Поддерживается семейным состоянием, коллекционер.</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> интерьерные сцены (танцоры, купальщицы, оркестры), сцены скачек, портреты.</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Эдуард Мане, Берта Моризо, Мэри Кассат, Мари Бракемон, Гюстав Кайботт, Дюран-Рюэль, Амбруаз Воллар, Огюст Ренуар, Поль Гоген (сварливый и ядовитый, как и он). После дела Дрейфуса Дега расстается со своими старыми друзьями Моне, Сислей и Писсарро.</p></li>
                <li>
                    <p><b>Место паломничества :</b> Музей Орсе, Париж.</p>
                </li>
                <li>
                    <p><b>Цитата :</b> "Это ничего не значит, импрессионизм. Каждый сознательный художник всегда переводил свои впечатления ». «Ваша (академическая) картина - предмет роскоши, наша - предмет первой необходимости. "</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##dega" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Берта Моризо (1841-1895)</h2>
            <div class="artistimg">
                <img src="img/morizo.jpg" height="500px">
                <p>Эдуард Мане. Берта Моризо с букетом фиалок (1872)</p>
            </div>
            <p> Берта Моризо (1841 - 1895) является великой леди импрессионизма. Она была на всех выставках, во всех мероприятиях и во всех отношениях. Ее товарищи восхищались и уважали ее, она была не единственной женщиной импрессионизма, но, несомненно, самой важной женщиной.
                Замужем за братом Эдуарда Мане и очень близка к художнику, она будет следовать по ее следам до своей смерти в 1863 году, где она начнет отстаивать свою независимость и свой уникальный и оригинальный стиль . На протяжении своей карьеры она в основном ставила только внутренние сцены , потому что в то время женщины не могли выйти без сопровождения. Поэтому они не могли часами гулять на открытом воздухе перед мольбертом (и это прискорбно!) .
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> ее выходец из буржуазной семьи, брак с Эженом Мане обеспечил ей мирное существование до конца ее жизни.</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> интерьерные сцены (почти обязательные для женщин в то время) , сцены с беременными, женские интимные сцены, обнаженные тела, портреты, пейзажи (редко).</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Эдуард Мане (её зять), Эдгар Дега, Клод Моне, Огюст Ренуар, Камиль Писсарро, Альфред Сислей, Гюстав Кайботт, Мэри Кассат, Дюран-Рюэль.</p></li>
                <li>
                    <p><b>Место паломничества :</b> Musée d'Orsay и Musée Marmottan-Monet (Париж), Национальная художественная галерея (Вашингтон), Художественный институт Чикаго.</p>
                </li>
                <li>
                    <p><b>Цитата :</b> «Я не верю, что когда-либо был мужчина, обращающийся с женщиной как с равным, и это все, о чем я бы просила, потому что я знаю, что достойна их». " </p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##morizo" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Камиль Писсарро (1830-1903)</h2>
            <div class="artistimg">
                <img src="img/pissarro.jpg" height="500px">
                <p>Камиль Писсарро. Автопортрет (1873)</p>
            </div>
            <p> В группе импрессионистов деканом был Камиль Писсарро. Друг всех, он также был учителем двух знаменитых Поля Гогена и Сезанна. Камиль Писсарро был человеком опытным во всех смыслах этого слова. У него было солидное художественное образование, но он также любил новые впечатления. Когда появились первые пуантилистические работы ( Жорж Сёра , Поль Синьяк ), заморозившие кровь большинства импрессионистов, Писсарро был полностью очарован до такой степени, что попробовал это сам.
                Искренний друг, всегда дающий хорошие советы, Писсарро знал, что его работа никогда не повлияет на души так сильно, как работа его товарищей Моне, Ренуара или Дега. За несколько лет до смерти он даже сказал: « Я остаюсь с Сислей хвостом импрессионизма». » (1895 г.)
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> брошенный семьей после женитьбы на слуге, он будет испытывать большие трудности почти до конца своей жизни , и его друзья (особенно Кайботт и Моне) будут регулярно помогать и размещать его.</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> пейзажи, парижские памятники, натюрморты.</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Клод Моне, Огюст Ренуар (до дела Дрейфуса), Фредерик Базиль, Альфред Сислей, Берта Моризо, Эдгар Дега (до дела Дрейфуса), Поль Сезанн, Поль Гоген, Гюстав Кайботт, Мэри Кассат, Дюран-Рюэль.</p>
                </li>
                <li>
                    <p><b>Место паломничества :</b> музей Камиля Писсарро в Понтуазе (регион Парижа), музей Орсе (Париж), музей Метрополитен (Нью-Йорк).</p>
                </li>
                <li>
                    <p><b>Цитата :</b> "В принципе, мы не хотели школы , мы любим Делакруа, Курбе, Домье и всех тех, у кого что-то в животе, и природа, природа, разные впечатления, которые у нас есть, все наши заботы. Мы отвергаем все искусственные теории. "</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##pissarro" class="artist_button">Смотреть работы</a>

        </div>

        <div class="artist">
            <h2>Альфред Сислей (1839-1899)</h2>
            <div class="artistimg">
                <img src="img/sisley.jpg" height="500px">
                <p>Огюст Ренуар. Портрет Альфреда Сислея (1874)</p>
            </div>
            <p> Хотя он, тем не менее, был одним из основателей импрессионизма, Альфред Сислей (1839–1899) остается одним из его менее известных личностей , сталкиваясь с такими мировыми знаменитостями, как его товарищи Моне, Ренуар, Дега и Мане. Он никогда не узнает успеха в своей жизни . В живописи он находил экстаз только через пейзаж , создавая шедевры жанра каждым мазком кисти. Его образ жизни чередовался между парижской мирской атмосферой в кафе Guerbois в компании товарищей и спокойным отдыхом в сельской местности, где он мог заниматься живописью под открытым небом.
            </p>
            <ul>
                <li>
                    <p><b>Материальное положение :</b> Поддерживаемый семейным состоянием до 27 лет, он лишается наследства и с большими трудностями обеспечивает свою семью.</p>
                </li>
                <li>
                    <p><b>Любимые темы :</b> пейзажи, памятники и натюрморты.</p>
                </li>
                <li>
                    <p><b>Близкие отношения :</b> Клод Моне, Огюст Ренуар, Фредерик Базиль, Камиль Писсарро, Мари Бракемон, Берта Моризо, Гюстав Кайботт, Дюран-Рюэль (купившая ему около 400 картин).</p>
                </li>
                <li>
                    <p><b>Место паломничества :</b> разрозненные работы - Musée d'Orsay (32 картины), Musée des Beaux-Arts de Rouen (8 картин), Музей искусств Филадельфии (7 картин), Музей Ordrupgaard в Копенгагене (6 картин), Musée du Petit Palais de Paris (4), Лувр (3), MuMa Le Havre (3), Palais des Beaux-Arts de Lille (3), Монреальский музей изящных искусств (3), NY Carlsberg Glyptotek Copenhagen (3), Staatsgalerie Stuttgart ( 3)… Некоторые из его работ также есть в России, Швейцарии, Бельгии, Италии, Великобритании, Чехии и даже в Алжире.
                    </p>
                </li>
                <li>
                    <p><b>Цитата :</b> "Любая картина показывает то, во что художник влюбился. "</p>
                </li>
            </ul>
            <a type="button" href="Paintings.html##sisley" class="artist_button">Смотреть работы</a>

        </div>
    </div>


    <div class="other-wrapper">
        <h2>Вам также может быть интересно</h2>
        <div>
            <div class="textimg">
                <a href="https://veryimportantlot.com/ru/news/blog/impressionizm-v-zhivopisi-ili-lovcy-prekrasnogo-mgnovenya"><img src="img/link1.png" height="180px"></a>
                <p>Импрессионизм в живописи, или Ловцы прекрасного мгновенья</p>
            </div>
            <div class="textimg">
                <a href="https://www.bl-school.com/blog/impressionism/"><img src="img/link2.png" height="180px"></a>
                <p>Импрессионизм. История популярного явления в истории искусства</p>
            </div>
            <div class="textimg">
                <a href="http://www.impressionism.ru/"><img src="img/link3.png" height="180px"></a>
                <p>Сайт impressionism.ru</p>
            </div>
            <div class="textimg">
                <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B8%D0%B7%D0%BC#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F"><img src="img/link4.jpg" height="180px"></a>
                <p>Материал из Википедии</p>
            </div>
            <div class="textimg">
                <a href="https://www.kinopoisk.ru/film/1200431/"><img src="img/link5.jpg" height="180px"></a>
                <p>Фильм "Клод Моне: Магия воды и света" (2018)</p>
            </div>
        </div>
    </div>

    <div class="form">
        <div>
            <h2>Подпишись на обновления</h2>
            <div class="input">
                <input type="email" class="email" placeholder="Ваш email" />
                <input type="button" class="button" value="Подписаться" />
            </div>
        </div>
    </div>

</main>

<footer>
    <div>
        <div class="helpful"> </div>
        <div class="top">
            <a>impression</a>
            <nav>
                <a href="https://t.me/ejevika">
                    <img src="img/tele.png">
                </a>
                <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                    <img src="img/inst.png">
                </a>
            </nav>
        </div>
        <p class="middle">Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
        <div class="bottom">
            <p>2023 Копирование информации только с разрешения правообладателя</p>
        </div>
    </div>
</footer>

</body>
</html>