<aside id="aside">
    <ul class="nav">
        <li>
            <a href="index.php">Главная</a>
        </li>
        <li>
            <a href="History.php">История</a>
        </li>
        <li>
            <a href="Artists.php">Художники</a>
        </li>
        <li>
            <a href="Paintings.php">Галерея</a>
        </li>
        <li>
            <a href="Order.php">Заказать репродукцию</a>
        </li>
        <li>
            <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
        </li>
        <li>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
        </li>
    </ul>
</aside>