<div class="pagename">
    <h2>Регистрация</h2>
</div>
<form class="order_form" action="../registration.php" method="post">
    <div>
        <h2>Введите информацию для регистрации</h2>
        <div class="order_input">
            <input name = "login" type="email" class="ord_text" placeholder="Ваш логин" />
            <input name = "password" type="password" class="ord_text" placeholder="Ваш пароль" />
            <input type="submit" class="ord_button" value="Зарегистрироваться" />
        </div>
    </div>
</form>