<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href={{ style }}>
    <link rel="stylesheet" href="../css/others.css">
    <link rel="stylesheet" href="../css/subscribeform.css">
    <link rel="stylesheet" href="../css/footer.css">

<body>
{% include 'header.html.twig' %}
{% include 'aside.html.twig' %}
<main>
    {% include content %}
    {% include 'others.html.twig' %}
    {% include 'subscribeform.html.twig' %}
</main>
{% include 'footer.html.twig' %}
</body>
</html>