<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ style }}>
<body>
{% include 'header.html.twig' %}
{% include 'aside.html.twig' %}
<main>
    {% include content %}
    {% include 'others.html.twig' %}
    {% include 'subscribeform.html.twig' %}
</main>
{% include 'footer.html.twig' %}
</body>
</html>