<div class="pagename">
    <h2>Вход</h2>
</div>
<form class="order_form" action="../login.php" method="post">
    <div>
        <h2>Введите информацию для входа</h2>
        <div class="order_input">
            <input name = "login" type="email" class="ord_text" placeholder="Ваш логин" />
            <input name = "password" type="password" class="ord_text" placeholder="Ваш пароль" />
            <input type="submit" class="ord_button" value="Войти" />
        </div>
        <a class="first_vizit" href='../authorization.php' >Впервые на нашем сайте? Зарегестрируйтесь!</a>
    </div>
</form>