<footer>
    <div>
        <div class="helpful"> </div>
        <div class="top">
            <a>impression</a>
            <nav>
                <a href="https://t.me/ejevika">
                    <img src="img/tele.png">
                </a>
                <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                    <img src="img/inst.png">
                </a>
            </nav>
        </div>
        <p class="middle">Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
        <div class="bottom">
            <p>2023 Копирование информации только с разрешения правообладателя</p>
        </div>
    </div>
</footer>