<header>
    <div>
        <h1>impression</h1>
        <nav>
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
        </nav>
    </div>
</header>