<header>
    <script type="text/javascript" src="script.js"></script>
    <div>
        <h1>impression</h1>
        <nav>
            {% if is_login == 'false' %}
                <a type="button" id="login_btn" class="authorization-button" href='../entrance.php'>Войти</a>
            {% elseif is_login == 'true'%}
                <a type="button" id="logout_btn" class="authorization-button" href='../logout.php'>Выйти</a>
            {% endif %}
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
            <a onclick="aside_hover_on()" ondblclick="aside_hover_down()" class="dropbtn">
                <img src="img/list.png">
            </a>
        </nav>
    </div>
</header>