<header>
    <script type="text/javascript" src="script.js"></script>
    <div>
        <h1>impression</h1>
        <nav>
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
            <a onclick="aside_hover_on()" ondblclick="aside_hover_down()" class="dropbtn">
                <img src="img/list.png">
            </a>
        </nav>
    </div>
</header>