<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="css/History.css">
</head>
<body>
<header>
  <div>
    <h1>impression</h1>
    <nav>
      <a href="https://t.me/ejevika">
        <img src="img/tele1.png">
      </a>
      <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
        <img src="img/inst1.png">
      </a>
    </nav>
  </div>
</header>

<aside>
  <ul class="nav">
    <li>
      <a href="index.html">Главная</a>
    </li>
    <li>
      <a href="History.html">История</a>
    </li>
    <li>
      <a href="Artists.html">Художники</a>
    </li>
    <li>
      <a href="Paintings.html">Галерея</a>
    </li>
    <li>
      <a href="Order.html">Заказать репродукцию</a>
    </li>
    <li>
      <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
    </li>
    <li>
      <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
    </li>
  </ul>
</aside>

<main>
  <div class="pagename">
      <h2>История импрессионизма</h2>
  </div>
  <div class="content-wrapper">
    <p class="content-info">
        Во Франции XIX века единственным шансом стать знаменитым и коммерчески успешным живописцем было участие в ежегодном Салоне Французской Академии художеств. Для этого нужно было пройти строгий отбор. Жюри придерживались крайне консервативных взглядов и скрупулезно следили за совершенством живописной техники и сюжетами полотен. Художник, отвергнутый официальным салоном, был обречен на безвестность и отсутствие заказов.  Несмотря на закостенелость системы, в то время уже неотвратимо назревали изменения в искусстве, обусловленные важными достижениями своего времени. Одним из них стало бурное развитие фотографии, живопись утратила необходимость объективно фиксировать реальность, как это было раньше. Например, стало не нужно тратить долгие недели и внушительные суммы на создание портретов, потому что фотография справлялась с этим за один сеанс, а по правдоподобности ни один художник не мог с ней сравниться.  Не менее значимым событием стало появление тюбиков для краски, казалось бы, такая мелочь, но именно благодаря этому, у художников появилась возможность работать на пленэре.  Кроме того, мир захватила индустриализация, и он стал меняться так быстро, как никогда прежде.   Конечно, искусство не могло остаться в стороне и перед художниками встали судьбоносные вопросы: как должно измениться искусство, с кем и на каком языке говорить?
    </p>
    <div class="textimg">
      <img src="img/hist_img1.jpg" height="500px">
      <p>Камиль Писсарро. Бульвар Монмарт (1897)</p>
    </div>
    <p class="content-info">
        В Кафе Гербуа на улице Батильон на Монмартре собирались прогрессивные художники, поэты и прочие творческие личности,  и обсуждали судьбу современного искусства. Многие из них были отвергнуты официальным Салоном, и единственным шансом  познакомить публику со своим творчеством и получить заказы было проведение выставки на альтернативной площадке. 29 художников,  среди которых были Поль Сезанн, Клод Моне, Огюст Ренуар, Камиль Писсарро, Альфред Сислей, Берта Моризо и Эдгар Дега решились на этот шаг, и вложив каждый по 60 франков, организовали выставку в ателье фотографа Надара на Бульваре Капуцинок в самом сердце Парижа. При этом они вовсе не старались противопоставить себя влиятельному Салону, так как каждый из них в будущем желал получить признание Академии. Эдгар Дега предлагал дать обществу название “Капуцинки” по названию бульвара, но коллеги это предложение отвергли и предпочли именоваться нейтрально — Анонимное общество художников, скульпторов и граверов. 15 апреля 1874 года открылась их первая выставка, тогда они еще не знали, что войдут в историю как Импрессионисты.
    </p>
    <div class="textimg">
      <img src="img/hist_img2.jpg" height="500px">
      <p>Огюст Ренуар. Ложа (1874)</p>
    </div>
    <p class="content-info">
      На выставке было представлено 165 работ. Посетить ее мог любой желающий, заплатив за входной билет 1 франк. Продлилась она ровно месяц и не смогла похвастаться большим потоком посетителей, за все время на ней побывали около 3500 человек. Для сравнения, официальный салон посещали в среднем 5000 человек в день! Тем не менее импрессионистам удалось заявить о себе. Обзоры, которые печатались в прессе, были очень разными, кто-то ругал художников и сомневался в их профессионализме, кто-то одобрял новый взгляд на искусство.
    </p>
    <p class="content-info">
      Вскоре после открытия в газете Le Charivari вышла сатирическая статья журналиста Луи Леруа. В статье Леруа давал фантазийные зарисовки на тему того, как он осматривает выставку со своим другом, академическим художником, а под конец выставки, не выдержав современного искусства, этот художник сходит с ума. Несмотря на то, что Луи Леруа не был профессиональным арт-критиком, именно его разгромная статья стала знаменитой. В ней он назвал художников “импрессионистами”, то есть “впечатленцами”. Если бы только месье Леруа мог знать тогда, что благодаря этому он войдет в историю искусства, он бы весьма удивился.
    </p>
    <div class="textimg">
      <img src="img/hist_img3.jpg" height="500px">
      <p>Клод Моне. Восход солнца, впечатление (1872)</p>
    </div>
    <p class="content-info">
      Свое пренебрежительное “Импрессионисты” Леруа взял из названия работы Клода Моне “Восход Солнца, впечатление”. На картине изображен рассвет над портом родного для Моне города Гавр. Картина написана открытым мазком, немного небрежно, и выглядит как незаконченный этюд, как будто художник торопился зафиксировать стремительно меняющийся вид моря во время рассвета. Леруа написал, что обои в стадии наброска выглядят более законченными, чем “это впечатление”.  В картине не заложен какой-то сюжет, потаенный смысл или высказывание автора. В отличии от приевшегося академизма, которое взывало скорее к интеллектуальной составляющей, заставляя зрителя “читать” картину, здесь же буквальное отображение того, что фиксирует глаз при мгновенном взгляде на пейзаж. Она не наставляет, не возвышает и не морализаторствует. “Впечатление” обращается к индивидуальному чувственному опыту каждого зрителя. И именно это являлось главной характеристикой импрессионизма  — передача на картине мгновения. “Золотое правило импрессионистов состояло в  следующем: как бы ни писалась картина — паутинкой, как у Моне, или бусинками, нанизанными на нити, как у Сёра, — надо достичь такого эффекта, как будто цвет обнаруживается сам собой, в результате непроизвольного оптического спазма — в момент, когда зажмуриваешь глаза от солнца, а потом снова их открываешь” — пишет Саймон Шама, максимально точно передавая эффект от картин импрессионистов. Именно поэтому их творчество так популярно, оно взывает не к нашим знаниям, а к нашим чувствам.
    </p>
    <div class="textimg">
      <img src="img/hist_img4.jpg" height="500px">
      <p>Эдгар Дега. Звезда балета (1878)</p>
    </div>
    <p class="content-info">
      В чистом виде импрессионизм просуществовал очень недолго. Официально принято считать, что с 1874 по 1886 год. Достаточно скоро художникам стало тесно в рамках импрессионизма  и многие из них начали свой собственный поиск в разных стилях и техниках, которые объединяют в понятие “постимпрессионизм”. Тем не менее, импрессионизм,  благодаря своим красоте и чувственности, понятным каждому зрителю независимо от уровня знаний, остается самым популярным стилем в истории искусства.
    </p>
  </div>
  <div class="other-wrapper">
    <h2>Вам также может быть интересно</h2>
    <div class="other">
      <div class="textimg">
        <a href="https://veryimportantlot.com/ru/news/blog/impressionizm-v-zhivopisi-ili-lovcy-prekrasnogo-mgnovenya"><img src="img/link1.png" height="180px"></a>
        <p>Импрессионизм в живописи, или Ловцы прекрасного мгновенья</p>
      </div>
      <div class="textimg">
        <a href="https://www.bl-school.com/blog/impressionism/"><img src="img/link2.png" height="180px"></a>
        <p>Импрессионизм. История популярного явления в истории искусства</p>
      </div>
      <div class="textimg">
        <a href="http://www.impressionism.ru/"><img src="img/link3.png" height="180px"></a>
        <p>Сайт impressionism.ru</p>
      </div>
      <div class="textimg">
        <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B8%D0%B7%D0%BC#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F"><img src="img/link4.jpg" height="180px"></a>
        <p>Материал из Википедии</p>
      </div>
      <div class="textimg">
        <a href="https://www.kinopoisk.ru/film/1200431/"><img src="img/link5.jpg" height="180px"></a>
        <p>Фильм "Клод Моне: Магия воды и света" (2018)</p>
      </div>
    </div>
  </div>
  <div class="form">
    <div>
      <h2>Подпишись на обновления</h2>
      <div class="input">
        <input type="email" class="email" placeholder="Ваш email" />
        <input type="button" class="button" value="Подписаться" />
      </div>
    </div>
  </div>


</main>

<footer>
  <div>
    <div class="helpful">
    </div>
    <div class="top">
      <a>impression</a>
      <nav>
        <a href="https://t.me/ejevika">
          <img src="img/tele.png">
        </a>
        <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
          <img src="img/inst.png">
        </a>
      </nav>
    </div>
    <p class = middle>Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
    <div class="bottom">
      <p>2023 Копирование информации только с разрешения правообладателя</p>
    </div>
  </div>

</footer>

</body>
</html>