    <div class="quote">
        <h2>“Новый мир <br>родился тогда, когда <br> импрессионисты написали <br>его”  <br>Анри Канвейлер</h2>
    </div>
    <div class="content-wrapper">
        <p class="content-info">Если задать вопрос любому человеку, хоть немного знакомому с изобразительным искусством, какое направление ему нравится больше всего, то скорее всего он ответит — импрессионизм.</p>
        <div class="textimg">
            <img src="img/main_img1.jpg" height="500px">
            <p>Пьер-Огюст Ренуар. Бал в Мулен де ла Галетт (1876)</p>
        </div>
        <p class="content-info">Импрессионизм по праву считается точкой отсчета всего современного искусства.
            Художники этого направления выступали против традиций классицизма и реализма. Они стремились показать красоту конкретного момента, передать свои эмоции от увиденного. Для этого авторы изобрели новые живописные методы. Они отказались от черного цвета, не использовали палитру, иногда выдавливали краску из тюбика прямо на холст, а вместо контуров изображаемых предметов использовали мелкие мазки.
            Импрессионизм и вправду сравним с дуновением ветра, трепетом листьев, бликами солнца на морской ряби. Сама суть этого творческого метода — в отражении изменчивости окружающей реальности. Импрессионисты старались уйти от статичного изображения мира и сделать картины более живыми. Они стремились отразить движение, наполняющее природу, передать в произведениях изменения воздуха, теней, света. Художник-импрессионист пытался уловить ускользающее мгновение и запечатлеть настроение момента.
        </p>
    </div>
>