<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/Main.css">
</head>
<body>
<header>
    <div>
        <h1>impression</h1>
        <nav>
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
        </nav>
    </div>
</header>

<aside>
    <ul class="nav">
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="History.html">История</a>
        </li>
        <li>
            <a href="Artists.html">Художники</a>
        </li>
        <li>
            <a href="Paintings.html">Галерея</a>
        </li>
        <li>
            <a href="Order.html">Заказать репродукцию</a>
        </li>
        <li>
            <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
        </li>
        <li>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
        </li>
    </ul>
</aside>

<main>
    <div class="quote">
        <h2>“Новый мир <br>родился тогда, когда <br> импрессионисты написали <br>его”  <br>Анри Канвейлер</h2>
    </div>
    <div class="content-wrapper">
        <p class="content-info">Если задать вопрос любому человеку, хоть немного знакомому с изобразительным искусством, какое направление ему нравится больше всего, то скорее всего он ответит — импрессионизм.</p>
        <div class="textimg">
            <img src="img/main_img1.jpg" height="500px">
            <p>Пьер-Огюст Ренуар. Бал в Мулен де ла Галетт (1876)</p>
        </div>
        <p class="content-info">Импрессионизм по праву считается точкой отсчета всего современного искусства.
            Художники этого направления выступали против традиций классицизма и реализма. Они стремились показать красоту конкретного момента, передать свои эмоции от увиденного. Для этого авторы изобрели новые живописные методы. Они отказались от черного цвета, не использовали палитру, иногда выдавливали краску из тюбика прямо на холст, а вместо контуров изображаемых предметов использовали мелкие мазки.
            Импрессионизм и вправду сравним с дуновением ветра, трепетом листьев, бликами солнца на морской ряби. Сама суть этого творческого метода — в отражении изменчивости окружающей реальности. Импрессионисты старались уйти от статичного изображения мира и сделать картины более живыми. Они стремились отразить движение, наполняющее природу, передать в произведениях изменения воздуха, теней, света. Художник-импрессионист пытался уловить ускользающее мгновение и запечатлеть настроение момента.
        </p>
    </div>
    <div class="other-wrapper">
        <h2>Вам также может быть интересно</h2>
        <div>
            <div class="textimg">
                <a href="https://veryimportantlot.com/ru/news/blog/impressionizm-v-zhivopisi-ili-lovcy-prekrasnogo-mgnovenya"><img src="img/link1.png" height="180px"></a>
                <p>Импрессионизм в живописи, или Ловцы прекрасного мгновенья</p>
            </div>
            <div class="textimg">
                <a href="https://www.bl-school.com/blog/impressionism/"><img src="img/link2.png" height="180px"></a>
                <p>Импрессионизм. История популярного явления в истории искусства</p>
            </div>
            <div class="textimg">
                <a href="http://www.impressionism.ru/"><img src="img/link3.png" height="180px"></a>
                <p>Сайт impressionism.ru</p>
            </div>
            <div class="textimg">
                <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B8%D0%B7%D0%BC#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F"><img src="img/link4.jpg" height="180px"></a>
                <p>Материал из Википедии</p>
            </div>
            <div class="textimg">
                <a href="https://www.kinopoisk.ru/film/1200431/"><img src="img/link5.jpg" height="180px"></a>
                <p>Фильм "Клод Моне: Магия воды и света" (2018)</p>
            </div>
        </div>
    </div>

    <div class="form">
        <div>
            <h2>Подпишись на обновления</h2>
            <div class="input">
                <input type="email" class="email" placeholder="Ваш email" />
                <input type="button" class="button" value="Подписаться" />
            </div>
        </div>
    </div>

</main>

<footer>
    <div>
        <div class="helpful"> </div>
        <div class="top">
            <a>impression</a>
            <nav>
                <a href="https://t.me/ejevika">
                    <img src="img/tele.png">
                </a>
                <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                    <img src="img/inst.png">
                </a>
            </nav>
        </div>
        <p class="middle">Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
        <div class="bottom">
            <p>2023 Копирование информации только с разрешения правообладателя</p>
        </div>
    </div>
</footer>

</body>
</html>