<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="css/Order.css">
</head>
<body>
<header>
  <div>
    <h1>impression</h1>
    <nav>
      <a href="https://t.me/ejevika">
        <img src="img/tele1.png">
      </a>
      <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
        <img src="img/inst1.png">
      </a>
    </nav>
  </div>
</header>

<aside>
  <ul class="nav">
    <li>
      <a href="index.html">Главная</a>
    </li>
    <li>
      <a href="History.html">История</a>
    </li>
    <li>
      <a href="Artists.html">Художники</a>
    </li>
    <li>
      <a href="Paintings.html">Галерея</a>
    </li>
    <li>
      <a href="Order.html">Заказать репродукцию</a>
    </li>
    <li>
      <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
    </li>
    <li>
      <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
    </li>
  </ul>
</aside>
<main>
  <div class="pagename">
    <h2>Заказать репродукцию</h2>
  </div>
  <div class="order_form" id="form">
    <div>
      <h2>Оформи заказ сейчас</h2>
      <div class="order_input">
        <input type="text" class="ord_text" placeholder="Ваш телефон" />
        <input type="email" class="ord_text" placeholder="Ваш email" />
        <input type="button" class="ord_button" value="Загрузить фото" />
        <input type="text" class="ord_text_h" placeholder="Опишите свои пожелания" />
        <input type="button" class="ord_button" value="Отправить заявку" />
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <p class="content-info">Живопись пробуждает фантазию, окрыляет безграничными возможностями для совершенствования человека. Поэтому ценится издавна мыслителями, философами, меценатами, высокопоставленными особами, которые вдохновлялись красотой и необычайностью стиля исполнения. Великие живописные гении дарили человечеству частичку творческой души при помощи своих произведений, поэтому не зря их картины называются вкладом в мировую культуру. Результаты их труда оцениваются дорого, поэтому они не «по карману» каждому.</p>
    <p class="content-info"> Благодаря современным возможностям, мы можем воссоздать любую картину по вашему желанию. Картина будет изготовлена на хлопковом холсте при помощи пигментных красок, которые дают возможность воплотить цветовые оттенки, авторские приемы и игру света, примененные рукой самого мастера.</p>
    <a type="button" class="additional-button" href="Paintings.html">Перейти к каталогу</a>
  </div>
  <div class="examples">
    <h2>Примеры работ</h2>
    <div>
      <img src="img/ord_1img.jpg" width="350px">
      <img src="img/ord_2img.jpg" width="350px">
      <img src="img/ord_3img.jpg" width="350px">
    </div>
    <div>
      <img src="img/ord_4img.jpg" width="350px">
      <img src="img/ord_5img.jpg" width="350px">
      <img src="img/ord_6img.jpg" width="350px">
    </div>
    <a type="button" class="additional-button" href="#form">Оформить заказ</a>

  </div>


  <div class="other-wrapper">
    <h2>Вам также может быть интересно</h2>
    <div>
      <div class="textimg">
        <a href="https://veryimportantlot.com/ru/news/blog/impressionizm-v-zhivopisi-ili-lovcy-prekrasnogo-mgnovenya"><img src="img/link1.png" height="180px"></a>
        <p>Импрессионизм в живописи, или Ловцы прекрасного мгновенья</p>
      </div>
      <div class="textimg">
        <a href="https://www.bl-school.com/blog/impressionism/"><img src="img/link2.png" height="180px"></a>
        <p>Импрессионизм. История популярного явления в истории искусства</p>
      </div>
      <div class="textimg">
        <a href="http://www.impressionism.ru/"><img src="img/link3.png" height="180px"></a>
        <p>Сайт impressionism.ru</p>
      </div>
      <div class="textimg">
        <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B8%D0%B7%D0%BC#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F"><img src="img/link4.jpg" height="180px"></a>
        <p>Материал из Википедии</p>
      </div>
      <div class="textimg">
        <a href="https://www.kinopoisk.ru/film/1200431/"><img src="img/link5.jpg" height="180px"></a>
        <p>Фильм "Клод Моне: Магия воды и света" (2018)</p>
      </div>
    </div>
  </div>

  <div class="form">
    <div>
      <h2>Подпишись на обновления</h2>
      <div class="input">
        <input type="email" class="email" placeholder="Ваш email" />
        <input type="button" class="button" value="Подписаться" />
      </div>
    </div>
  </div>

</main>

<footer>
  <div>
    <div class="helpful"> </div>
    <div class="top">
      <a>impression</a>
      <nav>
        <a href="https://t.me/ejevika">
          <img src="img/tele.png">
        </a>
        <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
          <img src="img/inst.png">
        </a>
      </nav>
    </div>
    <p class="middle">Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
    <div class="bottom">
      <p>2023 Копирование информации только с разрешения правообладателя</p>
    </div>
  </div>
</footer>

</body>
</html>