<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/Paintings.css">
</head>
<body>
<header>
    <div>
        <h1>impression</h1>
        <nav>
            <a href="https://t.me/ejevika">
                <img src="img/tele1.png">
            </a>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                <img src="img/inst1.png">
            </a>
        </nav>
    </div>
</header>

<aside>
    <ul class="nav">
        <li>
            <a href="index.html">Главная</a>
        </li>
        <li>
            <a href="History.html">История</a>
        </li>
        <li>
            <a href="Artists.html">Художники</a>
        </li>
        <li>
            <a href="Paintings.html">Галерея</a>
        </li>
        <li>
            <a href="Order.html">Заказать репродукцию</a>
        </li>
        <li>
            <a href="https://t.me/ejevika"><img src="img/tele.png" height="40px"></a>
        </li>
        <li>
            <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM="><img src="img/inst.png" height="40px"></a>
        </li>
    </ul>
</aside>
<main>
    <div class="pagename">
        <h2>Галерея</h2>
    </div>
    <div class="content-wrapper">
        <div class="artist" id="#mone">
            <h2>Клод Моне</h2>
            <div class="textimg">
                <img src="img/mone1.jpg">
                <p>Клод Моне. Впечатление (1872)</p>
            </div>
            <div class="textimg">
                <img src="img/mone2.jpg">
                <p>Клод Моне. Водяные лилии и японский мост (1899)</p>
            </div>
            <div class="textimg">
                <img src="img/mone3.jpg">
                <p>Клод Моне. Вокзал Сен-Лазар (1877)</p>
            </div>
            <div class="textimg">
                <img src="img/mone4.jpg">
                <p>Клод Моне. Дама с зонтиком, повернувшаяся налево (1886)</p>
            </div>
        </div>
        <div class="artist" id="#mane">
            <h2>Эдуард Мане</h2>
            <div class="textimg">
                <img src="img/mane1.jpg">
                <p>Эдуард Мане. Завтрак на траве (1863)</p>
            </div>
            <div class="textimg">
                <img src="img/mane2.jpg">
                <p>Эдуард Мане. Бар в «Фоли-Бержер» (1882)</p>
            </div>
            <div class="textimg">
                <img src="img/mane3.jpg">
                <p>Эдуард Мане. Олимпия (1863)</p>
            </div>
            <div class="textimg">
                <img src="img/mane4.jpg">
                <p>Эдуард Мане. Слива (1877)</p>
            </div>
        </div>
        <div class="artist" id="#pissarro">
            <h2>Камиль Писсарро</h2>
            <div class="textimg">
                <img src="img/pissarro1.jpg">
                <p>Камиль Писсарро. Девочка с прутом (1881)</p>
            </div>
            <div class="textimg">
                <img src="img/pissarro2.jpg">
                <p>Камиль Писсарро. Бульвар Монмартр в дождливую погоду (1897)</p>
            </div>
            <div class="textimg">
                <img src="img/pissarro3.jpg">
                <p>Камиль Писсарро. Старая дорога из Аннери в Понтуаз. Заморозки (1873)</p>
            </div>
        </div>
        <div class="artist" id="#renyar">
            <h2>Огюст Ренуар</h2>
            <div class="textimg">
                <img src="img/renyar1.jpg">
                <p>Огюст Ренуар. Завтрак гребцов (1880)</p>
            </div>
            <div class="textimg">
                <img src="img/renyar2.jpg">
                <p>Огюст Ренуар. Портрет актрисы Жанны Самари (1877)</p>
            </div>
            <div class="textimg">
                <img src="img/renyar3.jpg">
                <p>Огюст Ренуар. Лягушатник (1869)</p>
            </div>
        </div>
        <div class="artist" id="#morizo">
            <h2>Берта Моризо</h2>
            <div class="textimg">
                <img src="img/morizo1.jpg">
                <p>Берта Моризо. Женщина у туалета (1875)</p>
            </div>
            <div class="textimg">
                <img src="img/morizo2.jpg">
                <p>Берта Моризо. Le Berceau (1872)</p>
            </div>
            <div class="textimg">
                <img src="img/morizo3.jpg">
                <p>Берта Моризо. В столовой (1869)</p>
            </div>
        </div>
        <div class="artist" id="#dega">
            <h2>Эдгар Дега</h2>
            <div class="textimg">
                <img src="img/dega1.jpg">
                <p>Эдгар Дега. Абсент (1876)</p>
            </div>
            <div class="textimg">
                <img src="img/dega2.jpg">
                <p>Эдгар Дега. Голубые танцовщицы (1898)</p>
            </div>
            <div class="textimg">
                <img src="img/dega3.jpg">
                <p>Эдгар Дега. Танцевальный класс (1874)</p>
            </div>
        </div>
        <div class="artist" id="#sisley">
            <h2>Альфред Сислей</h2>
            <div class="textimg">
                <img src="img/sisley1.webp">
                <p>Альфред Сислей. Плотина в Молси, Хэмптон Корт (1874)</p>
            </div>
            <div class="textimg">
                <img src="img/sisley2.jpg">
                <p>Альфред Сислей. Вид на Сен-Мамес (1880)</p>
            </div>
        </div>
    </div>

    <div class="other-wrapper">
        <h2>Вам также может быть интересно</h2>
        <div>
            <div class="textimg">
                <a href="https://veryimportantlot.com/ru/news/blog/impressionizm-v-zhivopisi-ili-lovcy-prekrasnogo-mgnovenya"><img src="img/link1.png" height="180px"></a>
                <p>Импрессионизм в живописи, или Ловцы прекрасного мгновенья</p>
            </div>
            <div class="textimg">
                <a href="https://www.bl-school.com/blog/impressionism/"><img src="img/link2.png" height="180px"></a>
                <p>Импрессионизм. История популярного явления в истории искусства</p>
            </div>
            <div class="textimg">
                <a href="http://www.impressionism.ru/"><img src="img/link3.png" height="180px"></a>
                <p>Сайт impressionism.ru</p>
            </div>
            <div class="textimg">
                <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BC%D0%BF%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%BE%D0%BD%D0%B8%D0%B7%D0%BC#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F"><img src="img/link4.jpg" height="180px"></a>
                <p>Материал из Википедии</p>
            </div>
            <div class="textimg">
                <a href="https://www.kinopoisk.ru/film/1200431/"><img src="img/link5.jpg" height="180px"></a>
                <p>Фильм "Клод Моне: Магия воды и света" (2018)</p>
            </div>
        </div>
    </div>

    <div class="form">
        <div>
            <h2>Подпишись на обновления</h2>
            <div class="input">
                <input type="email" class="email" placeholder="Ваш email" />
                <input type="button" class="button" value="Подписаться" />
            </div>
        </div>
    </div>

</main>

<footer>
    <div>
        <div class="helpful"> </div>
        <div class="top">
            <a>impression</a>
            <nav>
                <a href="https://t.me/ejevika">
                    <img src="img/tele.png">
                </a>
                <a href="https://instagram.com/ejevika10?igshid=ZDdkNTZiNTM=">
                    <img src="img/inst.png">
                </a>
            </nav>
        </div>
        <p class="middle">Все представленные на сайте материалы предназначены для использования в информационных, учебных, научных и культурных целях.</p>
        <div class="bottom">
            <p>2023 Копирование информации только с разрешения правообладателя</p>
        </div>
    </div>
</footer>

</body>
</html>