    <div class="pagename">
        <h2>Галерея</h2>
    </div>
    <div class="content-wrapper">
        {% for card in gallery %}
        <div class="artist" id="{{ card.id }}">
            <h2>{{ card.name }}</h2>
            {% for img in card.imgs %}
            <div class="textimg">
                <img src="{{ img['src'] }}" alt="">
                <p>{{ img['src_name'] }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
