<div class="form">
    <div>
        <h2>Подпишись на обновления</h2>
        <div class="input">
            <input type="email" class="email" placeholder="Ваш email" />
            <input type="button" class="button" value="Подписаться" />
        </div>
    </div>
</div>