<script type="text/javascript" src="script.js"></script>
<form class="form" action="../emailCheck.php" method="post")>

    <div>
        <h2>Подпишись на обновления</h2>
        <div class="input">
            <input name="email" type="text" class="email" placeholder="Ваш email" />
            <input type="submit" class="button" value="Подписаться" />
        </div>
    </div>
</form>